h2{
    width:100%;
    margin-bottom:50px;
}

.about-img{
    width:200px;
    height:300px;
    border: solid 2px black;
    float:left;
    margin-right:50px;
    margin-bottom: 50px;
}
.about-text{
    
    
}