.slideshow{
  width:100%;
  height:100%;
  overflow:hidden;
}
body{
  width:100%;
  overflow:hidden;
}

.row{
  width:100%;
}
.content{
  margin-left:10%;
  margin-right:10%;
  margin-top:5%;
  margin-bottom:5%;
  overflow:hidden;
}
.ul{
  display:none;
}
ul{
   list-style: none;
  text-decoration: none;
}
h3{
  padding:10px;
  background-color:rgb(233, 247, 225);
  color:black;
  width:300px;
}
h1{
  background-color:rgb(17, 17, 16);
  padding:10px;
  width:300px;
}
li{
  padding:10px;
  margin-bottom:5px;
  background-color:rgb(222, 247, 207);
  color:black;
  width:300px;
}
.template{
  display:none;
}
